<div class="container">
    <div class="cover">
        <p class="head">Get in Touch!...</p>
        <div class="content">
            <div class="contact">
                <mat-icon>phone</mat-icon>
                <p>Contact No</p>
                <p>+91 93841 31055</p>
            </div>
            <div class="contact">
                <mat-icon>email</mat-icon>
                <p>E-mail</p>
                <p>mahendran0462@gmail.com</p>
            </div>
            <div class="contact">
                <mat-icon>location_on</mat-icon>
                <p>Address</p>
                <p>97c1 Kamarajar street,</p>
                <p>Pozhikarai, cheranamadevi,</p>
                <p>Tirunelveli - 627414</p>
            </div>
            <div class="contact">
                <mat-icon>link</mat-icon>
                <p>Linkedin</p>
                <button class="btn" (click)="gotoLink()">www.linkedin.com/in/mahesh-raj-16a028238</button>
            </div>
        </div>
    </div>
</div>