<div class="container">
    <div class="content">
        <div class="left">
            <p class="hed">Intern & Trainee</p>
            <P>For me, looking to improve skills during my internship, setting clear goals, seeking feedback, and
                regular practice are key. Engaging in hands-on projects, effective communication with colleagues,
                and utilizing online resources are crucial steps. Networking and attending workshops also contribute
                to my professional growth. By being proactive and open to learning, I can make the most of my
                internship experience, developing essential skills for my career journey.
            </P>
        </div>
        <div class="right">
            <p class="head">2024 (Feb - Current)</p>
            <div class="grid">
                <div class="one">
                    <p class="hed">internship & Traineeship</p>
                    <p>Bezohminds Pvt.Ltd - Tirunelveli</p>
                    <ul style="list-style-type: square; line-height: 2;">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>TypeScript</li>
                        <li>Angular</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>