<div class="container">
    <div class="cover">
        <div class="content">
            <p class="small">Hi, I'm</p>
            <p class="large">Mahesh Raj A</p>
            <p class="box">Front-End Developer</p>
            <p class="txt">To enhance my professional skills, capabilities and knowledge in an organization. which
                recognizes the value of hard work and trust me with responsibilities and challenges.
            </p>
        </div>
        <div class="img">
            <img src="assets/images/code.jpg" width="500vh" height="300vh" alt="no-image" class="imge">
        </div>
    </div>
</div>