<div class="container">
    <div class="cover">
        <div class="content">
            <p class="small">Hi !...</p>
            <p class="large">I'm Mahesh Raj A</p>
            <button class="box">Front_End Developer</button>
            <p class="txt">To enhance my professional skills, capabilities and knowledge in an organization. which
                recognizes the value of hard work and trust me with responsibilities and challenges.
            </p>
        </div>
        <img src="assets/images/code.jpg" width="550vh" height="350vh" alt="no-image">
    </div>
</div>