<mat-toolbar>
    <div class="flex">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/about" routerLinkActive="active">About-Me</a>
        <a routerLink="/education" routerLinkActive="active">Education</a>
        <a routerLink="/experience" routerLinkActive="active">Experience</a>
        <a routerLink="/project" routerLinkActive="active">Project</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
    <span class="space"></span>
    <div class="line"></div>
    <div class="circle"></div>
</mat-toolbar>