<div class="container">
    <div class="over">
        <div class="project1">
            <div class="img1"></div>
            <h3>Enhancing Pool Saftey And Efficiency With An Iot Supported Monitoring System</h3>
            <p>To reduce the Human death in hydro Stagnation like (Swimming pool, etc...), We introduce Hydro
                Stagnation rescue system based on Iot. We introduce a rescue mechanism to save human, when they are
                danger in stagnation. In order to we introduce two kind of senor to find the temperatue of water as
                well as any alcoholic person enered into stagnation it's alert the range of alcoholic in screen, In
                the way to save human from stagnation
            </p>
        </div>
        <div class="project2">
            <div class="img2"></div>
            <h3>Smart Municipal Waste Collection System Based On IoT</h3>
            <p>Everything is automated and systematic in this era of smart cities. But due to the rise of the
                population, it has become difficult to manage the waste properly since people dumb garbage in their
                neighborhood. Dumbing the garbage has become a real threat to society. This can pollute the
                enviroment and cause several health hazards to people living in the neighborhood. If the dustbin has
                excess waste it becomes difficult for the scavvenger to manage the waste content.
            </p>
        </div>
    </div>
</div>