<div class="container">
    <div class="content">
        <div class="left">
            <p class="head">EDUCATION</p>
            <P>In the years spanning from 2016 to 2023, I completed my SSLC, HSC & B.E education. My schooling
                experience was characterized by an eco-friendly environment and supportive staff, which facilitated
                a comfortable and effective learning atmosphere. Moving on to college, I found myself immersed in a
                positive environment where I had the opportunity to learn from diverse perspectives and apply these
                learnings to shape my career path. Engaging with peers and mentors, I gained valuable insights that
                have contributed to my personal and professional growth. This journey has equipped me with the
                skills and knowledge necessary to pursue my desired career path with confidence and enthusiasm.
            </P>
        </div>
        <div class="right">
            <p class="head">2016 - 2023</p>
            <div class="grid">
                <div class="one">
                    <p class="hed">SSLC</p>
                    <p>Vijesh Materic Hr.Sec School - Mukkudal</p>
                    <p>2016 - 2017</p>
                    <p>75.8%</p>
                </div>
                <div class="two">
                    <p class="hed">HSC</p>
                    <p>Vijesh Materic Hr.Sec School - Mukkudal</p>
                    <p>2018 - 2019</p>
                    <p>53.5%</p>
                </div>
                <div class="three">
                    <p class="hed">Bachelor Degree, (B.E)</p>
                    <p>SCAD College of Engineering & Technology</p>
                    <p>Electronics and Communication Engineering</p>
                    <p>2019 - 2023</p>
                    <p>7.82 CGPA</p>
                </div>
            </div>
        </div>
    </div>
</div>