<div class="container">
    <div class="profile">
        <img src="assets/images/profile.jpeg" height="150vh" width="120vh">
        <div class="detail">
            <span class="flex">
                <p class="hed">Name : </p>
                <p>Mahesh raj A</p>
            </span>
            <span class="flex">
                <p class="hed">D.O.B : </p>
                <p>04/06/2002</p>
            </span>
            <span class="flex">
                <p class="hed">Gender : </p>
                <p>Male</p>
            </span>
        </div>
    </div>
    <div class="content1">
        <div class="skills">
            <p class="head">My skills: -</p>
            <ul>
                <li>C-Language</li>
                <li>HTML & CSS</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>Angular</li>
                <li>Angular Material</li>
            </ul>
        </div>
        <div class="hobbies">
            <p class="head">Hobbie's: -</p>
            <ul>
                <li>Travelling</li>
                <li>PhotoShot</li>
            </ul>
        </div>
    </div>
    <div class="content2">
        <div class="achivements">
            <p class="head">Achivement's: -</p>
            <ul>
                <li>Paper Presented in Nation conference at Dr.M.G.R educational and Research Institute.</li>
                <li>Participant's in Yoga for Youth Empowerment at VISION for Wisdom Accademy.</li>
                <li>Completed My Diploma in Computer Application (DCA).</li>
                <li>Got 1<sup>st</sup> prize in Football at school sports competition.</li>
                <li>Got 3<sup>rd</sup> prize in Silambam at district level.</li>
            </ul>
        </div>
    </div>
</div>